<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="js/flexible.js"></script>
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="format-detection" content="telephone=no, email=no">
        <title><%= name %></title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="page-wrap">
            <!-- 默认3页 -->
            <div class="page page1">

            </div>

            <div class="page page2">

            </div>

            <div class="page page3">

            </div>
        </div>

        <div id="orientLayer" class="mod-orient-layer">
            <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
                <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
            </div>
        </div>

        <div class="qr-box">
            <div id="qr-box__img" class="qr-box__img"></div>
            <div class="qr-box__thumb qr-box__thumb_default" style="background-image:url(//wximg.gtimg.com/wxp/wxmoment-source/img/weixin-logo.png)"></div>
            <div id="qr-box__thumb" class="qr-box__thumb"></div>
            <div class="qr-box__text">微信扫一扫<br>手机浏览效果更佳</div>
        </div>

        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="js/zepto.js"></script>
        <script src="js/PageSlider.js"></script>
        <script>
            var h5 = new PageSlider({
                pages: $('.page-wrap .page'),
                dev: 0,
                musicUrl: 'music/bg.mp3',
                shareUrl: '',
                baseUrl: ''
            });

            //后续的逻辑
        </script>
    </body>
</html>
